spring:
  application:
    name: farmacia-api
  
  datasource:
    url: jdbc:postgresql://localhost:5432/farmacia_db
    username: postgres
    password: 1104
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timezone: America/Sao_Paulo
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          time_zone: America/Sao_Paulo
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  
  jackson:
    time-zone: America/Sao_Paulo
    date-format: dd/MM/yyyy
    serialization:
      write-dates-as-timestamps: false
  
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 15MB  # 3 imagens * 5MB

jwt:
  secret: minha-chave-super-secreta-para-jwt-token-farmacia-2024
  expiration: 86400000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

app:
  upload:
    dir: uploads
    max-size: 5242880  # 5MB em bytes




